# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# Environnements
.venv/
venv/
env/
.env
.env.*

# Outils / IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Tests / couverture
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# Home Assistant (config de dev local)
config/
!custom_components/
